nav {
  background-color: $color-nav-background;
  & ul a {
    color: $color-nav-text !important;
  }
  & .brand-logo {
    color: $color-nav-text !important;
  }
}

// progress bars
.progress {
  background-color: lighten($color-nav-text, 25%);
  .indeterminate {
    background-color: darken($color-nav-text, 25%);
  }
}

// forms
.valid {
  border-bottom: 1px solid $color-accept !important;
  box-shadow: 0 1px 0 0 $color-accept !important;
}

input:focus:not([readonly]) {
  border-bottom: 1px solid $color-focus !important;
  box-shadow: 0 1px 0 0 $color-focus !important;

  + label.active {
    color: $color-focus !important;
  }
}

.btn {
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.btn-primary {
  background-color: $color-btn-primary;
  color: white;
  border: 1px solid $color-btn-primary;
  border-radius: 2px;
  &:hover, &:focus {
    background-color: lighten($color-btn-primary, 10%);
    border-color: lighten($color-btn-primary, 10%);
  }
}

.normal-font-style {
  font-style: normal;
}
