nav {
  background-color: $color-nav-background;
  box-shadow: none;
  border-bottom: 1px solid $color-main-border;
  height: $nav-bar-height;

  & ul a {
    color: $color-nav-text;
	  font-family: Avenir;
  	font-weight: 500;
  	letter-spacing: 0.4px;

    &:hover {
      background: none;
      color: $color-nav-text-hover;
    }
  }

  & .navbar-fixed {
    height: $nav-bar-height !important;
  }

  & .brand-logo {
    color: $color-nav-text !important;
  }
}

@media only screen and (min-width: 601px) {
  .navbar-fixed {
    height: $nav-bar-height;
  }
  nav {
    line-height: $nav-bar-height;
  }
}

// dropdowns
.dropdown-content li > a, .dropdown-content li > span {
  color: $color-main-text;


}

.dropdown-content {
  box-shadow: none;
  border-left: 1px solid $color-main-border;
  border-bottom: 1px solid $color-main-border;
  border-right: 1px solid $color-main-border;
  border-bottom-left-radius: $main-border-radius;
  border-bottom-right-radius: $main-border-radius;

  & li {
    &:hover {
      background: none;
    }
  }
}

// progress bars
.progress {
  background-color: lighten($color-nav-text, 25%);
  .indeterminate {
    background-color: darken($color-nav-text, 25%);
  }
}

// forms
.valid {
  border-bottom: 1px solid $color-accept !important;
  box-shadow: 0 1px 0 0 $color-accept !important;
}

input:focus:not([readonly]) {
  border-bottom: 1px solid $color-focus !important;
  box-shadow: 0 1px 0 0 $color-focus !important;

  + label.active {
    color: $color-focus !important;
  }
}

.btn {
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

.btn-primary {
  background-color: $color-btn-primary;
  color: white;
  border: 1px solid $color-btn-primary;
  border-radius: 2px;
  &:hover, &:focus {
    background-color: lighten($color-btn-primary, 10%);
    border-color: lighten($color-btn-primary, 10%);
  }
}

.normal-font-style {
  font-style: normal;
}
