$pixels:  -20 0 5 10 15 20 25 30 35 40 45 50 55 60 65 70 75 80 85 90 95 100 125 150 175 200 225 250 275 300;
$directions: 'top' 'right' 'bottom' 'left';

@each $direction in $directions {
  @for $pixel from -20 through 300 {
    .margin-#{$direction}-#{$pixel} {
      margin-#{$direction}: #{$pixel}px !important;
    }

    .padding-#{$direction}-#{$pixel} {
      padding-#{$direction}: #{$pixel}px !important;
    }
  }
}

@each $pixel in $pixels {
  .max-width-#{$pixel} {
    max-width: #{$pixel}px !important;
  }
}

@for $i from 1 through 100 {
  .width-#{$i} {
    width: 0% + $i;
  }
}

// animations
.fader {
    -moz-animation-name: fader;
    -moz-animation-iteration-count: 1;
    -moz-animation-duration: .5s;

    -webkit-animation-name: fader;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-duration: .5s;

    animation-name: fader;
    animation-iteration-count: 1;
    animation-duration: .5s;
}

@-moz-keyframes fader {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fader {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fader {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.clickable {
  cursor: pointer;
}

.accept {
  background-color: $color-accept;
  &:hover {
    background-color: lighten($color-accept, 20%);
  }
}

.relatvie {
  position: relative !important;
}

.absolute {
  position: absolute !important;
}

.light-text {
  font-weight: 100;
}

.bold-text {
  font-weight: 800;
}

.no-padding {
  padding: 0;
}

.hidden {
  display: none;
}
