h5 2016 NFL Season Schedule

//- unless seasonSchedule
//-   .progress
//-     .indeterminate
    
if seasonSchedule
  each week in seasonSchedule
    h6 Week {{week.title}}
    each game in week.games
      .section
        h7 {{game.away.name}} @ {{game.home.name}}
        p {{formatDate game.scheduled}} | {{game.venue.name}} ({{game.venue.surface}})
      .divider
      






  //- make this in a footer
  ul.pagination.center-align
    li.disabled
      a(href="#!")
        i.material-icons chevron_left
    each week in seasonSchedule
      li.waves-effect
        a(href="#!") {{week.title}}
    li.waves-effect
      a(href="#!")
        i.material-icons chevron_right
